@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: #03091e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fdf1e7;
  margin: none;
}

svg {
  background-color: #130f36;
  padding: 10px;
  border-radius: 5px;
}

#canvas {
  min-height: 600px;
  min-width: 950px;
}

.county:hover {
  fill: rgb(255, 0, 115);
}

g {
  color: #fdf1e7;
}

#tooltip {
  visibility: hidden;
  height: auto;
  width: auto;
  margin-top: 2px;
  color: #fdf1e7;
  font-size: 24px;
  margin-bottom: 5px;
}

#legend {
  color: rgb(56, 58, 74);
  font-size: 18px;
  text-align: center;
  min-height: 150px;
  max-width: 180px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#title {
  font-size: 28px;
  color: #fdf1e7;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 30px;
}

.source a {
  text-decoration: none;
  color: #fdf1e7;
  text-align: center;
}

.source {
  color: #fdf1e7;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
